html			{
	height: 100%;
	width: 100%;
}

body			{
	height: 100%;
	width: 100%;
}

.main-container	{
	background-color: gold;
	position: relative;
	text-align: center;
	width: 70%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.title-box		{

	height: 15%;
}

.left-menu		{

	width: 25%;
	float: left;
}

.messages		{
	width: 70%;
	float: left;
}

.all-messages	{
	background-color: rgb(255,255,255);
	width: 90%
}

.user-messages	{
	background-color: rgb(255,255,255);
	width: 90%;	
}

.message		{
	border: solid;
	background-color: rgb(255,255,255);
	text-align: left;
	float: left;
	width: 90%;
}

.user			{
	text-align: left;
	float: left;
	width: 50%;	
}

.time			{
	text-align: right;
	float: left;
	width: 50%;	
}

.tweet			{
	text-align: left;
	float: left;
	width: 100%;	
}

h2				{
	font-family: cursive;
}

.update			{
	color: blue;
}